<div class="footer">
    <div class="first">
        <div class="main">
            <h1 class="title">Pressa</h1>
            <p>Call center: (99) 123-45-67</p>
            <p class="app-created-info">© 2022. All rights reserved</p>
        </div>
        <div class="menus">
            <p>E`lon berish</p>
            <p>Loyiha haqida</p>
            <p>FAQ</p>
        </div>
    </div>
    <div class="social-icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="telegram"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="telegram"></mat-icon>
    </div>
</div>