.button {
    border-radius: 13px;
    background-color: #734E3F;
    width: 120px;
    height: 40px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.button:hover {
    border-radius: 14px;
    background: var(--Brown, #68463a);
    width: 120px;
    height: 40px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.button:active {
    border-radius: 14px;
    background: var(--Brown, #634336);
    margin-top: 2px;
    margin-left: 2px;
    width: 120px;
    height: 40px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}