a {
    text-decoration: none;
}

.button {
    border-radius: 13px;
    background: var(--Brown, #734E3F);
    width: 170px;
    padding: 15px 20px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.button:hover {
    border-radius: 14px;
    background: var(--Brown, #68463a);
    width: 170px;
    padding: 15px 20px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button:active {
    border-radius: 14px;
    background: var(--Brown, #634336);
    margin-top: 2px;
    margin-left: 2px;
    width: 170px;
    padding: 15px 20px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}