.course-list {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin-top: 80px;
    flex-shrink: 0;
    margin: 0px auto;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.40);
    padding: 50px 0px;
    align-items: center;
}

.course-row {
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: space-around;
}

.show-more-button {
    margin-top: 40px;
}