<div class="course-list">
    <div class="course-row" *ngIf="getCoursesLoading">
        <app-course-card [loadingMode]="true"></app-course-card>
        <app-course-card [loadingMode]="true"></app-course-card>
        <app-course-card [loadingMode]="true"></app-course-card>
    </div>

    <div class="course-row" *ngIf="courses">
        <div *ngFor="let course of courses | filterCourses: searchTerm">
            <app-course-card [author]="course.author" [course]="course.course"></app-course-card>
        </div>
    </div>
    
    <app-button [buttonText]="'Show more'" class="show-more-button"></app-button>
</div>