<div id="otp-input">
    <input type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*">
    <input type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*">
    <input type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*">
    <input type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*">
    <input type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*">
    <input type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*">
</div>
<input type="hidden" name="otp">