<div class="container">
    <app-navbar></app-navbar>
    <app-search-bar></app-search-bar>
    <h1 class="result-title" id="courses-list">Bizning kurslar</h1>
    <app-course-list class="course-list"></app-course-list>

    <h1 class="result-title">Shu kunga qadar</h1>
    <p class="result-description">Bizning maqsadimiz - o'quvchilarni IT sohasida professional mutaxassislar bo'lishiga yordam berish.</p>
    <div class="infos">
        <app-info-box
            [title]="'O\'rtacha jamoaviy tajriba'" 
            [info]="'3+ yil'"
        ></app-info-box>
        <app-info-box
            [title]="'Umumiy o\'quvchilar soni'"
            [info]="'100+'"
        ></app-info-box>
        <app-info-box
            [title]="'Yozilgan darslar davomiyligi'"
            [info]="'61+ soat'"
        ></app-info-box>
    </div>
    <app-footer></app-footer>
</div>