a {
    text-decoration: none;
}

.course {
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px 16px 16px 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

.course:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: transform 1s;
    cursor: pointer;
}

.course-thumbnail {
    width: 400px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
}

.course-title {
    width: 300px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0px 35px 35px;
}

.course-description, .course-author {
    color: #000;
    font-size: 18px;
    margin-left: 35px;
    font-size: 24px;
}

.see-video-button {
    margin: 40px 0px;
    align-self: center;
}