<app-navbar></app-navbar>
<div class="container">
    <h1 class="title">Ko'p Beriladigan Savollar</h1>
    <p class="description">Yana sizni qiziqtirgan savollar bo'lsa, biz bilan bog'laning.</p>

    <h1 *ngIf="faqsLoading">Loading...</h1>

    <ul class="list" *ngIf="faqs">
        <li class="item" *ngFor="let faq of faqs; index as i">
            <div class="question-block">
                <h1 class="question-text">
                    {{ faq.question }}
                </h1>
                <mat-icon
                    class="show-icon"
                    aria-hidden="false"
                    fontIcon="{{ faq.show ? 'keyboard_arrow_up': 'keyboard_arrow_down' }}"
                    (click)="changeShowFunction(faq, i)"
                ></mat-icon>
            </div>
            <h2 class="answer-text" *ngIf="faq.show">
                {{ faq.answer }}
            </h2>
            <hr>
        </li>
    </ul>
</div>
<app-footer></app-footer>