<div class="search-bar">
    <h1 class="title">
        Sifatli o'quv kurslarni topish yanada oson
    </h1>

    <input type="text" class="search-input" placeholder="Search...">

    <mat-form-field class="example-full-width">
        <mat-label>Sana</mat-label>
        <input matInput [matDatepicker]="picker" class="date-field">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>