.search-bar {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.40);
    width: 1080px;
    height: 467px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}


.title {
    color: #030303;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 71px; 
    width: 570px;
    align-self: center;
    margin-top: 70px;
}

.search-input {
    width: 800px;
    height: 65px;
    flex-shrink: 0;
    color: var(--Black, #030303);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 16px;
    background: #FFF;
    border: none;
    align-self: center;
    margin-top: 40px;
    padding-left: 20px;
}

.date-field {
    background-color: white;
    color: yellow;
    border: 1px solid red;
}

.course-list {
    display: flex;
    flex-direction: column;   
}

.course-row {
    display: flex;
    flex-direction: row;
    border: 1px solid pink;
}