<app-navbar></app-navbar>
<app-search-bar></app-search-bar>
<div class="course-list">
    <div class="course-row">
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
    </div>
    <div class="course-row">
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
    </div>
    <div class="course-row">
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
    </div>
    <div class="course-row">
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
    </div>

    <app-button>Show more</app-button>
</div>