<app-navbar></app-navbar>

<div class="body">
    <h1 *ngIf="course" class="course-title" >{{ course.title }}</h1>
    <div class="container">
        <div class="course-box" *ngIf="course">
            <img 
                [src]="BACKEND_URL_REST_COURSE_THUBNAIL + course.google_drive_thumbnail_id" alt="thumbnail image"
                class="thumbnail"
            >
            <h1 class="course-box-title">
                <b>{{ course.title }}</b>
            </h1>
            <b class="price-title">Kurs narxi: </b>
            <h1 class="price">
                <b>{{ course.price || 'Bepul' }}</b>
            </h1>
        </div>
        <div class="theme-box">
            <div class="themes" *ngFor="let theme of themes">
                <div class="theme">
                    <div class="theme-title">
                        <p>{{ theme.title }}</p>
                        <mat-icon
                            class="show-icon"
                            aria-hidden="false"
                            fontIcon="{{ theme.show ? 'keyboard_arrow_up': 'keyboard_arrow_down' }}"
                            (click)="theme.show = !theme.show"
                        ></mat-icon>
                    </div>
                    <ul class="videos" *ngIf="theme.show">
                        <a href="/course/video/{{video.id}}" *ngFor="let video of theme.videos">
                            <li>
                                <p class="video-title">{{ video.title }}</p>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>