ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body {
    width: 1600px;
    margin-top: 120px;
}

.course-title {
    font-size: 40px;
    font-weight: 900;
    margin: 50px 0px;
}

.container {
    display: flex;
    font-family: 'Fira Sans', sans-serif;
}

.course-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 500px;
    width: 500px;
    border-radius: 12px;
    background-color: rgb(211, 211, 211);
    margin-right: 50px;
}

.course-box-title {
    font-size: 32px;
    margin: 30px 20px;
}

.theme-box {
    width: 100%;
    /* flex: 2; */
}

.thumbnail {
    width: 500px;
    height: 280px;
    border-radius: 12px;
}

.theme {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
}

.theme-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E7E5;
    font-size: 32px;
    padding: 10px 30px 0px 30px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    height: 80px;
}

.price-title {
    margin: 50px 0px 20px 20px;
}

.price {
    margin: 0px 20px;
    margin-bottom: 30px;
}

.themes {
    max-width: 970px;
    display: flex;
    flex-direction: column;
}

.videos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.videos > a > li {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 30px;
    height: 60px;
}

.videos > a > li:hover {
    background-color: #F1F5F9;
}

.video-title {
    font-size: 28px;
    color: black;
}

.show-icon {
    cursor: pointer;
}

.item > mat-icon {
    color: black;
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.item > p {
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
}