.navbar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -4px);
    width: 1000px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #D9D7D4;
    border-bottom: 1px solid rgb(162, 162, 162);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-item {
    width: 150px;
    flex-shrink: 0;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    text-align: center;
    cursor: pointer;
}

.profile {
    display: flex;
    width: 220px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.fullname {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

mat-icon {
    cursor: pointer;
    font-size: 20px;
}