.box {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 320px;
    height: 120px;
    background-color: #E8E7E5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 100px;
}

.title {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.info {
    margin-left: 20px;
    font-size: 28px;
    font-weight: 900;
}

.box:hover {
    cursor: pointer;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}