<app-navbar></app-navbar>
<div class="container">
    <h1 class="title">Loyiha haqida</h1>
    <p class="description">
        Assalomu alaykum {{  name || "Foydalanuvchi" }},
        <a routerLink="/">easylearn.uz</a> loyihasi dasturlashga endigina kirib kelgan dasturchilar uchun dasturlashni 0 dan o'rgatish va dasturlashning "og'riqli" mavzularini yoritish uchun yaratilgan veb-saytdir.
    </p>
    <p class="description">
        Agar sizda qandaydur muammo bo'lsa telegram orqali ushbu <a routerLink="https://t.me/onlineplatformrobot">&#64;onlineplatformrobot</a> manzilga yozib qoldiring barcha so'rovlar 24 soat ichida ko'rib chiqiladi.
    </p>

</div>