<div class="footer">
    <div class="first">
        <div class="main">
            <h1 class="title">Online Platform</h1>
            <p>Call center: (99) 123-45-67</p>
            <p class="app-created-info">© 2023. Barcha huquqlar himoyalangan</p>
        </div>
        <div class="menus">
            <a href="/login" class="menu-item">Kirish</a>
            <a href="#" class="menu-item">Loyiha haqida</a>
            <a href="/faq" class="menu-item">FAQ</a>
        </div>
    </div>
    <div class="social-icons">
        <a href="#"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon></a>
        <a href="#"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="telegram"></mat-icon></a>
        <a href="#"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon></a>
        <a href="#"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="telegram"></mat-icon></a>
    </div>
</div>